mixin chip(id, displayText)
  .chip(id=id, onclick='onChipClick("'+id+'")')= displayText

mixin title(id, title, author)
  h3.title(id=id)= title
    span.clip(data-clipboard-text=`https://www.jcarrus.com/#${id}`)
      img.icon(src='/assets/link.svg', onclick=`copyHandler('${id}')`, title='Copy a link to this item', alt='Link icon to copy a link to this item')
      span.copy-alert.hidden(id=`${id}-copy-alert`) Copied!
  if author
    h4.author= author

mixin link(href, displayText)
  a(target='_blank', rel='noopener', href=href, onclick=`track('${href}')`)= displayText

mixin highlights
  details
    summary Highlights
    ul
      block