mixin title(id, displayText)
  h3.title(id=id)= displayText
    span.clip(data-clipboard-text=`https://jcarrus.com/#${id}`)
      img.icon(src='/assets/link.svg', onclick=`copyHandler('${id}')`, title='Copy a link to this item', alt='Link icon to copy a link to this item')
      span.copy-alert.hidden(id=`${id}-copy-alert`) Copied!

mixin link(href, displayText)
  a(target='_blank', rel='noopener', href=href, onclick=`track('${href}')`)= displayText
